.form {
    position: relative;
    margin-top: 30px;
    height: 60%;
    display: flex;
    flex-direction: column;
   // width: 400px;
    padding: 30px;

    &__title {
        color: $text-color1;
        margin-top: 0;
        padding-bottom: 15px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    input {
        font-size: 14px;
        padding: 20px;
        height: 50px;
        font-family: $font;
        background-color: white;
        color: black;
        font-weight: 300;
        width: 400px;
        border: 1px solid $text-color1 !important;

        &:focus {
            outline: none;
            border: 1px solid #31a8ff !important;
        }
    }

    &__btn {
        margin-left: 15px;
        font-weight: 700 !important;
        width: 200px;
        font-size: 14px;
        font-family: $font;
        background-color: $text-color1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid $text-color1 !important;
      //  border-radius: 10px;
        color: white;
        font-weight: 900;
        height: 50px;
        letter-spacing: 2px;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    &__instructions{

        padding-bottom: 10px;
    }
}

#task-field{

    display:flex;
    flex-direction: row;

}

@media only screen and(max-width: 500px) {
    .form {
        left: 0;
        align-items: center;
        width: 100vw;
        padding: 30px;
        justify-content: center;

        input {
            width: 80vw;
        }
    }
}
